.cproject
.project
.settings

CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
build/
result
src/mapcraftercore/config.h
src/mapcraftercore/version.cpp

!doc/Makefile

*.o
*.a
gmon.out

# OSX
.DS_Store
